#about {
  color: rgb(2, 85, 2);
}

span {
  color: orange;
}

#locations {
  color: rgb(2, 88, 2);
}

.location li {
  color: red;
}

#classes {
  color: rgb(2, 91, 2);
}

table,
th,
td {
  border: 1px solid black;
}

.language {
  color: blue;
}

.day {
  color: purple;
}

.teacher {
  color: green;
}
